<!DOCTYPE html>
<html>
<head>
    <title>First Travel App</title>
    </head>
<body>
    <h1>My Travel Site</h1>
    <p>This is my awesome travel site</p>
    
  <ul>  
    
    <% @countries.each do |country| %>
      <li><%= country %></li>
    <% end %>
    </ul>
    
    <!-- correct -->
    <!--<%= @homeland %> -->
    
<ul>
<% @images.each do |image| %>
	<p><%= image_tag image, class: "img-responsive", width: "1000" %></p>
<%end%>
</ul>
  
    
    
    <table class="table">
  <tr>
    <% @united_states.each do |key,value| %>
	  <th><%= key.titleize %></th>
    <% end %>
  </tr>
  <tr>
    <% @united_states.each do |key,value| %>      
      <% if value.kind_of?(Array) %>
          <td><%= value.join(", ") %></td>
      <% else %>
         <td><%= value %></td>
      <% end %> 
    <% end %>
  </tr>
</table>
    </body>
</html>
